[submodule "tests/unity"]
	path = tests/unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "tests/cmock"]
	path = tests/cmock
	url = https://github.com/ThrowTheSwitch/CMock
[submodule "tests/cexception"]
	path = tests/cexception
	url = https://github.com/ThrowTheSwitch/CException
[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
